@font-face {
    font-family: futura;
    src: url(../fonts/LTe50152.woff);
}
body{
	background: white;
}
body section{
	display: flex;
	flex-wrap: wrap;
	font-family: futura,"calibri";	
	display: block;	
	width: 100vw;
	font-size: 1.3em;
}
body section h1{
	width: 100vw;
	background: #6732ff;
	text-align: center;
	font-size: 8vh;
	color: white;
	height: 14vh;
	box-sizing: border-box;
	padding-top: 3vh;
}
body section select{
	width: 100%;
	height: 6vh;
	margin: 1vh 0 4vh 0;
	border: 0.1vw grey solid;
}
body section form{
	width: 50%;
	margin: 5vh auto 0 auto;
}
body section form input{
	display: block;
	width: 100%;
	height: 4vh;
	margin-top: 1vh;
	font-size: .9em;
	border: 0.1vw grey solid;
}
body section button.vender{
	width: 25%;
	margin-left: 25%;
	background-color: #6732FF;
	border: none;
	color: white;
	padding: 2vw;
}
body section table{
	margin: 0 auto 0 auto;
	width: 90%;
	height: 3vh;
	border: 1px black solid;
	line-height: 4vh;
	text-align: center;
}
body section table tr{
	border: 1px black solid;
}
body section table td{
	padding: 2vw;
	border: 1px black solid;
}